<<<<<<< Updated upstream
$color: steelblue;

.my-flix {
  color: $color;
}
=======
html {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #70ffec 100%);
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  color: #000000;
}

.app-container {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #70ffec 100%);
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  color: #000000;
}

@media screen and (max-width: 768px) {}
>>>>>>> Stashed changes
